*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: #000;
    background-image: url(bgb.jpg);
    background-size: 700px;
    z-index:-1;

}

.box{
   
    background-color: hsla(0, 0%, 100%, 0.883);
    /* padding: 34px; */
    /* margin: auto; */
    border-radius: 10px;
    height: 80%;
    min-height: 335px;
    max-height: 450px;
     width: 90%;
     min-width: 150px;
     max-width: 460px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;


}
.container{
    position: absolute;
    left:50% ; 
    transform: translateX(-50%);
    bottom: 60px;
}

.sup{
    position: absolute;
    
    min-height: 530px;
    
}
#logo{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    top: -75px;
    left:50% ; 
    transform: translateX(-50%);


}

.cred{
    position: absolute;
    top: 20%;
    
    margin: 0px 12%;
    box-sizing: border-box;
}
.scred{
    top: 18px;
}
.ets{
    width: 80%;
    margin: 18% auto;
    padding: 0px;
    font-size: 28px;
    border: none;
    display: block;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: #fb252527;
}
.fill{
    text-align: center;
    color: #fb2525;
    border: none;
    background:none;
}


.btn{
    position: absolute;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    font-size: 25px;
    outline: none;
    border: none;
    background: #fb2525;
    color: #fff;    
    border-radius: 50px;
    cursor: pointer;
    bottom: 15px;
}

.msg{
    text-align: center;
    font-size: larger;
}

.msgg{
    color:green ;

}

.msgr{
    color: #fb2525;
}

#link_login{
    font-size: xx-large;
}
a:link{
    text-decoration: none;
  }

  a:visited 
{
    text-decoration: none; 
   
}
.ref {
    
    position: absolute;
    right: 11%;
    bottom: 17%;
    text-decoration: underline!important;
    color: blue;
}

#link_login{
    color: #fff; 
    
}

